@using MVCDemo.ViewModel.SPA
@model CreateEmployeeViewModel
<div>
    <table>
        <tr>
            <td>First Name:</td>
            <td><input type="text" id="txtFirstName" name="FirstName" value="@Model.FirstName" placeholder="Type first name." /></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input type="text" id="txtFirstName" name="FirstName" value="@Model.LastName" placeholder="Type last name." /></td>
        </tr>
        <tr>
            <td>Salary:</td>
            <td><input type="text" id="txtFirstName" name="FirstName" value="@Model.Salary" placeholder="Type salary." /></td>
        </tr>
    </table>
    <input type="submit" name="btnSubmit" value="Save Employee" class="btn btn-primary" onclick="IsValid()" />
    <input type="button" name="btnReset" value="Reset" class="btn btn-info" onclick="ResetForm()" />
    <input type="button" name="btnCancel" value="Cancel" class="btn btn-default" onclick="CancelSave()" />
</div>
<script type="text/javascript">
    function ResetForm() {
        $(":text").val("");
    }

    function CancelSave() {
        $("#DivCreateEmployee").dialog("close");
    }
</script>