@using MVCDemo.ViewModel.SPA
@model List<EmployeeViewModel>
@{
    ViewBag.Title = "Index";
}

<div>
    @if (User.Identity.IsAuthenticated)
    {
        <span style="text-align:right">Hello,@User.Identity.Name   <a href="/Authentication/Logout">Logout</a></span>
    }
    else
    {
        <span style="text-align:right"><a href="/Authentication/Login">Login</a></span>
    }
</div>
<br />
@*<a href="/Employee/AddNew">Add New</a>*@
@{
    Html.RenderAction("GetAddNewLink");
}
<table class="table table-hover" id="EmployeeTable">
    <tr><th>Employee Name</th><th>Salary</th></tr>
    @foreach (EmployeeViewModel item in Model)
    {
        <tr>
            <td>@item.EmployeeName</td>
            <td style="background-color:@item.SalaryColor">@item.Salary.ToString("C")</td>
        </tr>
    }
</table>
<script type="text/javascript">
    function OpenAddNew() {
        $.get("/SPA/Main/AddNew").then(
            function (r) {
                $("<div id='DivCreateEmployee'></div>").html(r).
                dialog({
                    width: 'auto', height: 'auto', modal: true, title: 'Create new employee',
                    close: function () {
                        $("#DivCreateEmployee").remove();
                    }
                });
            }
            );
    }
</script>